body{
    background-color: lightblue;
  }
  
  a{
      font-weight:bold;
      color:black;
    }
  
  h1#site-title {
      font-size:100px;
      font: family Verdana;
      color:teal;
      text-align:center;
      background-color: white;
      border: 6px ridge black;
      margin-top:25px;
      margin-bottom:25px;
    }
   
   nav ul {
      display:flex;
      justify-content: center;
      gap:6vw;
      list-style: none;
      background-color:teal;
      padding-left:0;
      
    }
  
  header nav ul {
      border: 6px ridge black;
      border-right:none;
      border-left:none;
  }
  
  nav ul li a {
      color:white;
      text-decoration: none;
      text-transform:uppercase;
      padding: 14px;
      display:block;
      font-size:16px;
      letter-spacing:1px;
    }
   
  nav ul li:last-child a{
      border-bottom: none;
    }
  
  nav ul li a:hover{
      text-decoration: underline;
    } 
  
  h1#article-title{
      font-size:52px;
      font-weight: 900;
      color: black;
      padding-left:15%;
      margin-bottom:20px;
    }
  
  h2{
    font-weight: 900;
    padding-left:50px;
  }
  
  figure {
      width: 60%;
      border: 5px solid black;
      padding:5px;
      font-family:'Times New Roman', Times, serif;
      font-style: italic;
      text-align:center;
      background-color:white;
  }
    
  figure img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      margin-top:5px;
    }
  
  figure.main-image{
    margin-left:15%;
    width:70%;
    background: white;
    border-color: teal;
    color:black;
  }
  
  figure.section-image{
    margin-bottom:32px;
    max-width: 320px;
  }
  figure.section-image.odd{
    float:right;
    margin-left:20px;
  }
  figure.section-image.even{
    float:left;
    margin-right:20px;
  }
    
    p {
      font-family: Verdana;
      font-size: 18px;
      padding-left:50px;
      padding-right:50px;
    }
    
    p img{
      float:left;
      max-width:20%;
      padding-right:10px;
      padding-top:5px;
    }
  
  footer nav ul li a {
    color: white;
  }
  
  footer nav ul li a:hover {
    text-decoration: underline;
  }
  
  footer#page-footer {
    padding: 12px;
    margin-top: 26px;
    text-align: center;
    background-color: teal;
    color: #ffffff;
    border-top: 6px ridge black;
  }