body {
  background-color: lightblue;
}

a {
  font-weight: bold;
  color: black;
}

h1#site-title {
  font-size: 100px;
  font: family Verdana;
  color: teal;
  text-align: center;
  background-color: white;
  border: 6px ridge black;
  margin-top: 25px;
  margin-bottom: 25px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 6vw;
  list-style: none;
  background-color: teal;
  padding-left: 0;

}

header nav ul {
  border: 6px ridge black;
  border-right: none;
  border-left: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px;
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
}

nav ul li:last-child a {
  border-bottom: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

h1#article-title {
  font-size: 62px;
  font-weight: 900;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  color: rgb(178, 34, 34);
  font-weight: 900;
  padding-left: 20%;
}

h2#site-end {
  padding-left: 0%;
  text-align: center;
  color: purple;
}

h3 {
  padding-left: 20%;
  font-size: 24px;
}

figure {
  width: 50%;
  border: 5px solid black;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
  background-color: white;
}

figure img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 5px;
}

figure.main-image {
  margin-left: 20%;
  width: 60%;
  background: white;
  border-color: teal;
  color: black;
}

figure.section-image {
  margin-bottom: 30px;
  max-width: 200px;
  margin-left: 20%;
  margin-right: 20%;
  border-color: teal;
}

figure.section-image.odd {
  float: right;
  margin-left: 20px;
}

figure.section-image.even {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}

p {
  font-family: Verdana;
  font-size: 16px;
  padding-left: 20%;
  padding-right: 20%;
}

p img {
  float: left;
  max-width: 20%;
  padding-right: 10px;
  padding-top: 5px;
}

footer nav ul li a {
  color: white;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

footer#page-footer {
  padding: 12px;
  margin-top: 26px;
  text-align: center;
  background-color: teal;
  color: #ffffff;
  border-top: 6px ridge black;
}

ul.a li {
  list-style-type: square;
  margin-left: 300px;
  font-family: Verdana;
  font-size: 16px;
  padding: 5px;
  padding-right: 20%;
}