a{
  font-weight:bold;
  color:green;
}

 h1#site-title {
    font-size:60px;
    color:green;
    text-align:center;
  }
   
nav ul {
  list-style: none;
  background-color:green;
  padding-left:0;
  border: 3px solid black;
  border-right:none;
  border-left:none;
}

@media all and (min-width: 440px){
  nav ul{
    display:flex;
  justify-content: center;
  gap:6vw;
  }
} 

nav ul li a {
  color:white;
  text-decoration: none;
  text-transform:uppercase;
  padding: 10px;
  display:block;
  font-size:15px;
  letter-spacing:1px;
}

nav ul li:last-child a{
  border-bottom: none;
}

nav ul li a:hover{
  text-decoration: underline;
} 

h1#article-title{
  font-size:48px;
  font-weight: 900;
  color: green;
  padding-left:3%;
}

h2{
  font-weight: 900;
  padding-left:50px;
}
  
img{
  max-width: 100%;
  height: auto;
}

figure {
  border: 5px solid green;
  padding:5px;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  text-align:center;
  background-color:white;
}

figure img {
  margin-bottom: 10px;
  margin-top:5px;
}

figure.main-image{
  background: #f5b0b6;
  border-color: green;
  color:black;
}

@media all and (min-width:768px){
figure.section-image{
margin-bottom:32px;
max-width: 320px;
}
}

figure.section-image.odd{
float:right;
margin-left:20px;
}

figure.section-image.even{
float:left;
margin-right:20px;
}

p {
  font-family: Verdana;
  font-size: 16px;
  padding-left:50px;
  padding-right:50px;
}

p img{
  float:left;
  max-width:20%;
  padding-right:10px;
  padding-top:5px;
}

#message {
  background:#e4e9ff;
  border:1px solid #82014c;
  padding: 20px 40px;
  margin: 12px 0;
  border-radius:4px;
}
#message button{
  float:right;
}

.dark-mode {
  background-color: black;
  color: white;
}